body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: #fff;
}

h1 {
  margin: 20px 0;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

.course-card {
  background: #020617;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  width: 100%;
  border-radius: 12px;
}

.course-card h3 {
  margin: 15px 0 5px;
}

.price {
  color: #f97316;
  margin-bottom: 10px;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
